@import "bourbon";
@import "vars.scss";

@media (min-width: 768px) and (max-width: 991px){
  .text_big{font-size: 18px;}
  #sec_01{
    background: none;
    h1{margin-top: 60px};
  }
  #sec_02{
    padding-top: 60px;
  }
  #sec_04{
    .logo_btm{margin-top: 70px;}
    .block_form{
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  br{display: none;}
  footer{
    .politics a{
      font-size: 13px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  .text, .title, .text_big{
    br{display: none;}
  }
  #sec_04{
    .logo_btm{margin-top: 70px;}
  }
}

@media screen and (max-height: 760px){
  .md_large .md_content {max-height: 320px;}
}

@media (max-width: 767px) {
  [class*='col-']{width: 100%;}
  br{display: none;}
  .text_big{font-size: 18px;}
  #sec_01{
    background: none;
    h1{
      margin-top: 60px;
      font-size: 38px;
      line-height: 50px;
    }
    .img-1{margin-top: 50px;}
  }
  #sec_02{
    padding-top: 60px;
    .row_small{
      .col-5{margin-bottom: 40px;}
    }
  }
  #sec_03{
    .row_img-10{
      margin-top: 50px;
    }
  }
  #sec_04{
    padding-top: 0;
    text-align: center;
    .header{margin-top: 70px;}
    .logo_btm{margin-top: 70px;}
    .block_form{
      margin: 40px auto 0;
    }
  }
  footer{
    text-align: center;
    .politics{
      a{
         font-size: 14px;
         display: block;
         text-align: center;
       }
     a+a{margin-left: 0 }
    }
    .logo_rezart{
      display: inline-block;
      float: none;
      margin-top: 10px;
      margin-left: 0;
    }
  }
  div[id*='modal_politics']{
    h2{padding-top: 70px;}
    .btn_close_modal{
      top: 20px;
    }
  }
}


@media (max-width: 500px) {
  #sec_01{
    h1{
      margin-top: 30px;
      font-size: 32px;
      line-height: 40px;
    }
  }
  #sec_04{
    .block_form{
      padding: 50px 30px;
    }
  }
}