body {
  position: relative;
  font: 18px/26px "HelveticaNeueCyr", sans-serif;
  color: #000;
  background-color: #f0f2f1; }

.header_main {
  color: #fa5672;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase; }

.header {
  font-size: 30px;
  font-weight: 900;
  line-height: 36px; }

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 26px; }

.text--black {
  font-weight: 900; }

.text--bold {
  font-weight: 700; }

.text--italic {
  font-weight: 700;
  font-style: italic; }

.text--pink {
  color: #fa5672; }

.text_big {
  font-size: 24px;
  line-height: 30px; }

body.unscroll {
  overflow: hidden; }

.md-modal.md-show {
  opacity: 1; }

.md-modal {
  opacity: 0; }

/* SCROLL BAR STYLES*/
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3); }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #fa5672;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb:window-inactive {
  background: #fa5672; }

/* BUTTON scrollUP SYLES*/
#scrollup {
  position: fixed;
  right: 20px;
  bottom: 30px;
  width: 30px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: none;
  opacity: 1;
  cursor: pointer;
  z-index: 10;
  font-size: 40px;
  text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  #scrollup svg {
    fill: #848484;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }

#scrollup:hover svg {
  fill: #fa5672; }

.hidden {
  height: 0;
  width: 0; }

.bar-long {
  height: 5px;
  width: 0;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background: #fa5672; }

.btn {
  width: 100%;
  max-width: 320px;
  height: 52px;
  background-color: #fa5672;
  color: #fff;
  font: 18px "HelveticaNeueCyr", sans-serif;
  text-transform: uppercase;
  font-weight: 700; }

.btn:hover {
  background-color: #dd415c; }

.text + .text {
  margin-top: 12px; }

.text + .title {
  margin-top: 25px; }

.title + .text {
  margin-top: 25px; }

.item + .item {
  margin-top: 30px; }

.row_content + .row_content {
  margin-top: 85px; }

.row_small + .row_small,
.row_content + .row_small {
  margin-top: 45px; }

#sec_01 {
  padding: 30px 0 0px;
  background-image: url(../img/sec_01-img.png);
  background-position: top center;
  background-repeat: no-repeat; }
  #sec_01 h1 {
    font-size: 48px;
    line-height: 56px;
    margin-top: 100px;
    margin-bottom: 35px; }
  #sec_01 .row + .row {
    margin-top: 90px; }
  #sec_01 .header {
    margin: 20px 0 30px; }
  #sec_01 .img-1 {
    width: 100%;
    max-width: 552px; }
